__pycache__/
.env
.env.*
*.pyc
.vscode/
.idea/
.DS_Store
venv/
.env.local
*.sqlite3
*.log

# Streamlit
.streamlit/

# node
node_modules/

# packaging/test
.pytest_cache/
*.egg-info/
.venv/
